@charset "UTF-8";

footer {
	padding: 20px;
	background-color: #222;
	color: #9d9d9d;
}
.mid_ctr {
	background-color: #fff7d4;
	border: medium;
	border-color: #d8ca2b;
	padding: 20px;
} 
.mainbody {
	background-color: #ffffff;
	border: medium;
	border-color: #d8ca2b;
	padding: 20px;
} 
.intro_text {
	font-size: 1.25em;
	text-align: center;
}
.body_text {
	margin: 20px 20px;
}
.mid_txt {
	width: 90%;
	margin-bottom: 30px;
}
.logo {
	width: 324px;
	height: 75px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #c8cba4;
}

.phone {
	text-align: center;
	background: #48483c;
	padding: 10px 0px 5px 0px;
}
.phone a {
	color: #fff8d2;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-decoration: none;
}
.centerForm {
	margin: 0 auto;
}
.navbar-inverse {
  background-color: #979880;
  border-color: #979880;
}
.navbar-inverse .navbar-nav > li > a {
  color: #48483c;
  font-weight: 500;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #48483c;
}

.picture {
	margin: 5px 10px 0px 0px;
}
.tab-content {
	background-color: #adb78d;
	padding: 10px;
}

.h1 {
	color: #48483d;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.h4 {
	color: #6d6d5d;
	margin: 20px 0 5px 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.placeholder {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.submit {
	margin: 20px 0 0 0px;
	padding: 10px 50px;
	border: hidden;
	border-radius: 5px;
	background: linear-gradient(#979880, #cbcda9);
	color: #fff8d2;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.submit:hover {
	background: linear-gradient(#7e7e6b, #cbcda9);
}
/* START HERE FOR GALLERY */

#gallery {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	background-color:#fff;
	padding: 40px 0 50px 0;
}
/*#gallery h2 {
	font-family:source-sans-pro, sans-serif;
	font-weight:500;
	letter-spacing:.05em;
	color:#333333; 
	text-align:left;
	margin: 0 0 0 50px;
	letter-spacing: 0.1em;
	font-size: 36px;
	font-weight: normal;
	padding: 0;
	margin: 0 auto;
	text-align:center;
	color:white;
} */

#gallery h4 {
	margin: 0;
	font-weight:500;
	font-size:1.5em;
	letter-spacing:.05em;
	color:#333333;
}

#gallery h3 {
	letter-spacing:.01em;
	color:#5E5E5E;
	text-align:left;
	margin: 20px 0 0 50px;
	font-weight:400;
	/* font-family: "Abril Text Italic", "Georgia Italic", "Times New Roman Italic", "Times Italic", serif; */
	/*text-align: center; */
	font-style: italic;
	font-size: 26px;
	/* font-weight: normal; */
	/* color:white; */
}
.center_txt {
	display: block;
	width: 80%;
	margin: 5px 0px 0px 50px;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	/*margin: 4px 24px 12px;
	color:white;
	font-family:sans-serif;*/
}

#lightboxWrap {
	margin: 30px 0 0 50px;
	width:90%;
	padding: 0;
}

#gallery img {
	width: 100%;
	opacity: .8;
	outline: none;
}
#gallery a:hover img {
	/*opacity settings below*/
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

#gallery .imgGallery .thumbnailCaption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
	height: 0%;
	overflow: hidden;
	padding: 0px;
	font: 1em/1.2em source-sans-pro, sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(55, 192, 253, 0.0);
}
#gallery .imgGallery:hover .thumbnailCaption {
	height: 35%;
	padding: 7% 7%;
	background-color: rgba(255,255,255,.5);
	-moz-transition: height .4s, background-color .3s ease;
}
.imgGallery {
	position: relative;
	display: inline-block;
	outline: none;
	margin: 0 1.33% 0 0;
}
.thumbnailWrapper{
	background-color: #000000;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
@media (max-width: 991px) {
.logo {
	width: 162px;
	height: 38px;
}
.list-group-item {
	display:inline-block;
}
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.centerThumb {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10%;
	margin-right: 10%;
}
/*.col-md-12 {
	float: none;
	margin: 20px 0px 0px 0px;
}*/
.carousel {
	display: none;
	visibility: hidden;
}
}

@media (min-width: 480px) {
.mid_txt {
	width: 95%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
}





